@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Colores */
  --clr-cyan-600-alpha: hsl(192, 37%, 48%, 0.8);
  --clr-cyan-600: hsl(192, 37%, 48%);
  --clr-cyan-400: hsl(192, 53%, 64%);
  --clr-cyan-300: hsl(192, 90%, 77%);
  --clr-purple-600: hsl(268, 34%, 53%);
  --clr-purple-400: hsl(266, 55%, 70%);
  --clr-purple-300: hsl(268, 100%, 86%);
  --clr-slate-900: hsl(240,21%,20%);
  --clr-slate-600: hsl(240,10%,57%);
  --clr-slate-300: hsl(240,18%,85%);
  --clr-white: hsl(0,0%,98%);
  /* Fuente principal */
  --ff: "Red Hat Display", sans-serif;
  /* Tipografía (escalas) */
  --fs-900: clamp(2rem, 3.5vw + 1rem, 3.5rem);
  --fs-700: clamp(1.25rem, 2vw + .5rem, 2rem);
  --fs-400: 1rem;
  --lh-tight: 1.1;
  --lh-normal: 1.6;
  /* Espaciado (escala del diseño) */
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-112: 7rem;
  /* Contenedor */
  --content-max: 69.5rem;
  --side-pad: clamp(1rem, 4vw, 2rem);
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--clr-white);
  font-family: var(--ff);
  color: var(--clr-slate-900);
  line-height: var(--lh-normal);
  font-size: var(--fs-400);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

a {
  text-decoration: none;
}

.site-header {
  padding-inline: var(--space-80);
  padding-block-start: var(--space-48);
}
.site-header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
  padding-inline: var(--side-pad);
  padding-block: var(--space-64) var(--space-32);
}
.hero-content {
  inline-size: clamp(19.0625rem, 10.5175rem + 36.46vw, 28.01875rem);
  margin-inline: auto;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  line-height: var(--lh-tight);
}
.hero-text {
  color: var(--clr-slate-600);
}
.hero-side {
  display: none;
}
.hero-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;
}

.divider {
  display: grid;
  justify-items: center;
}
.divider-line {
  width: 1px;
  height: var(--space-80);
  background-color: var(--clr-slate-300);
}
.divider-dot {
  background-color: var(--clr-white);
  inline-size: var(--space-56);
  block-size: var(--space-56);
  border: 1px solid var(--clr-slate-300);
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--clr-slate-600);
  font-weight: 900;
}

.btn {
  min-inline-size: calc(var(--space-112) + var(--space-80));
  block-size: var(--space-56);
  padding-inline: var(--space-40);
  padding-block: var(--space-16);
  border-radius: 3rem;
  color: var(--clr-white);
  font-weight: 900;
}
.btn-blue {
  background-color: var(--clr-cyan-600);
}
.btn-blue span {
  color: var(--clr-cyan-300);
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  background-color: var(--clr-cyan-400);
}
.btn-blue:hover span, .btn-blue:active span, .btn-blue:focus span {
  color: var(--clr-cyan-300);
}
.btn-purple {
  background-color: var(--clr-purple-600);
}
.btn-purple span {
  color: var(--clr-purple-300);
}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
  background-color: var(--clr-purple-400);
}
.btn-purple:hover span, .btn-purple:active span, .btn-purple:focus span {
  color: var(--clr-purple-300);
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--space-64);
  padding-inline: var(--side-pad);
  padding-block: var(--space-32) var(--space-64);
}
.features .visually-hidden {
  display: none;
}
.features-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-16);
}
.features-item figure {
  margin: 0;
}
.features-item figure img {
  border-radius: var(--space-8);
}
.features-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  text-align: center;
}
.features-content .overline {
  margin: 0;
  font-size: 13px;
  letter-spacing: 0.3rem;
  font-weight: 900;
  color: var(--clr-cyan-600);
  text-transform: uppercase;
}
.features-title {
  margin: 0;
  line-height: var(--lh-tight);
  font-size: var(--fs-900);
  font-weight: 900;
}
.features-text {
  margin: 0;
  color: var(--clr-slate-600);
  font-weight: 600;
}

.cta {
  text-align: center;
  color: var(--clr-white);
  position: relative;
  padding-inline: var(--space-32);
  padding-block-end: var(--space-64);
}
.cta::before {
  content: "";
  inset: calc(var(--space-48) * 2 + var(--space-12)) 0 0 0;
  background-image: linear-gradient(var(--clr-cyan-600-alpha)), url("../assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.cta-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-24);
}
.cta-title {
  line-height: var(--lh-tight);
  font-size: var(--fs-900);
  font-weight: 900;
  margin-block-end: 0;
}
.cta-text {
  margin: 0;
}

@media (min-width: 768px) {
  .hero-title {
    max-inline-size: 10ch;
    margin-inline: auto;
  }
  .hero-actions {
    flex-direction: row;
    justify-content: center;
  }
  .features {
    padding-block: var(--space-56) var(--space-72);
  }
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .features-content {
    max-inline-size: calc(var(--space-112) * 4.5);
    margin-inline: auto;
  }
  .cta::before {
    background-image: linear-gradient(var(--clr-cyan-600-alpha)), url("../assets/tablet/image-footer.jpg");
  }
}
@media (min-width: 1000px) {
  .site-header {
    padding-block-start: var(--space-80);
  }
  .hero {
    padding-inline: var(--space-64);
    position: relative;
  }
  .hero-center {
    display: none;
  }
  .hero-side {
    display: block;
    inline-size: calc(var(--space-112) * 3 - var(--space-32));
  }
  .hero-side-left {
    position: absolute;
    inset-inline-start: 0;
  }
  .hero-side-right {
    position: absolute;
    inset-inline-end: 0;
  }
  .cta-inner {
    flex-direction: row;
    justify-content: space-around;
    padding-inline: var(--space-72);
    padding-block: var(--space-112);
    text-align: left;
  }
  .cta-title {
    margin: 0;
    inline-size: calc(var(--space-112) * 3);
    font-size: var(--fs-700);
  }
  .cta-text {
    inline-size: calc(var(--space-112) * 3);
  }
}

/*# sourceMappingURL=style.css.map */
